{% extends 'question/base.html' %}

{% block content %}

    <div class="signup-form">
        <h2 class="signup-form__title">Sign up</h2>
        <form action="{% url 'question:ajax_signup' %}" method="post" data-js="form-signup">
            {% csrf_token %}
            <div class="form-group row">
                <label for="id_username" class="col-3 col-form-label">Username: </label>
                <div class="col-9">
                    <input class="form-control" type="text" placeholder="Username" id="id_username" name="username">
                    <span class="form-help" id="id_username-help" style="display: none;">Sounds good, doesn't work!</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_first_name" class="col-3 col-form-label">First name: </label>
                <div class="col-9">
                    <input class="form-control" type="text" placeholder="First name" id="id_first_name"
                           name="first_name">
                    <span class="form-help" id="id_first_name-help" style="display: none;">Sounds good, doesn't work!</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_last_name" class="col-3 col-form-label">Last name: </label>
                <div class="col-9">
                    <input class="form-control" type="text" placeholder="Last name" id="id_last_name" name="last_name">
                    <span class="form-help" id="id_last_name-help" style="display: none;">Sounds good, doesn't work!</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_email" class="col-3 col-form-label">Email: </label>
                <div class="col-9">
                    <input class="form-control" type="email" placeholder="Email" id="id_email" name="email">
                    <span class="form-help" id="id_email-help" style="display: none;">Sounds good, doesn't work!</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_password" class="col-3 col-form-label">Password: </label>
                <div class="col-9">
                    <input class="form-control" type="password" placeholder="Password" id="id_password"
                           name="password">
                    <span class="form-help" id="id_password-help" style="display: none;">Sounds good, doesn't work!</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_password2" class="col-3 col-form-label">Confirm password: </label>
                <div class="col-9">
                    <input class="form-control" type="password" placeholder="Same password again"
                           id="id_password2" name="password2">
                    <span class="form-help" id="id_password2-help" style="display: none;">Sounds good, doesn't work!</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-9 offset-3">
{#                    <div class="alert alert-danger" role="alert">#}
{#                        Now you screwed up!#}
{#                    </div>#}
                    <button type="submit" class="btn btn-primary">Sign up!</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}